@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

@font-face {
    font-family: 'Editor-Regular';
    src: url('../fonts/Editor-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Argent-Cf';
    src: url('../fonts/Argent-cf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Argent-Cf-Light';
    src: url('../fonts/Argent-Cf-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-dark: #30292F;
    --color-medium: #413F54;
    --color-light: #5F5AA2;
    --color-accent: #355691;
    --color-neutral: #3F4045;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: #6E6E6E;
    text-align: initial;
    line-height: 1.7rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 30px;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0rem;
    color: #4D4D4E;
    letter-spacing: 0.3rem;
    align-content: baseline;
    text-align: initial;
    line-height: 5.4rem;
    font-family: 'Argent-Cf-Light', serif;
    font-weight: 100;
}

h2 {
    color: rgba(27, 23, 22, 1);
    line-height: 1.4;
    letter-spacing: 0em;
    font-size: 3rem;
    text-align: center;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 2rem;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    color: #FFFFFF;
    border-color: rgb(176, 150, 125);
    background-color: rgb(176, 150, 125);
}

.btn-secondary {
    background-color: transparent;
    color: rgb(176, 150, 125);
    border: 2px solid rgb(176, 150, 125);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }
}